.bx--accordion__item {
    border: none;
}

.bx--accordion__item:last-child {
    border-bottom: none;
}

.bx--accordion {
    background-color: #f4f4f4;
}

.bx--dropdown .bx--list-box__field {
    background-color: white;
    border-bottom: 1px solid #8d8d8d;
}

.bx--text-input {
    background-color: white;
    border-bottom: 1px solid #8d8d8d;
}

.bx--accordion__title {
    font-weight: 400;
}